.wrap-container {
    margin-left: 100px;
    margin-right: 100px;
    width: 1032px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.center {
    position: relative;
    top: 120px;
    text-align: center;
}

#sub-title {
    color: grey;
    margin-top: 13px;
    margin-bottom: 13px;
}

.content {
    display: block;
    max-width: 200px !important;
    max-height: 100px !important;
}

iframe.embed-responsive-item {
    width: 330px !important;
    height: 220px !important;
}

.title-position {
    padding: 15px;
    text-align: center;
}

* {
    box-sizing: border-box;
}

.responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

#content-responsive {
    display: block;
    max-width: 350px;
    height: 250px;
}

#content-size {
    max-width: 350px !important;
    max-height: 250px !important;
}

#youtube-size {
    height: 359.39px;
    padding-bottom: 0px;
}

.sm-work-desc {
    position: absolute;
    width: 220px;
    padding-left: 10px;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    background-color: white;
    border-top: none;
    border-bottom: thin;
}

.sm-deck {
    width: 100%;
    padding: 5px 5px;
    background: #FFF;
    border-top: none;
    position: relative;
}

.container .no-padding {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.col-4-space .content-post {
    width: 25%;
    position: relative;
    left: 0px;
    top: 0px;
}

